body{
    background:#f4e9f9;
}
.navbar{
    border-bottom: solid 2px rgba(255,255,255,1);
}
#userForm{
    margin-top:20px;
    padding-top:6%;
    border: 2px solid rgba(255,255,255,0.5);
}
h2{
    margin-bottom:1.8em;
    color:#573f68;
    font-weight:500;
    text-transform:uppercase;
    letter-spacing: 1px;
}
label{
    color:#573f68;
    font-weight:500;
}
.row{
    margin:15px 10px;
}
.row input[type="text"]{
    width:350px;
    background-color:transparent;
    border-top: solid 0px #573f68;
    border-right: solid 0px #573f68;
    border-left: solid 0px #573f68;
    border-bottom: solid 2px #573f68;
    color:#573f68;
    font-weight:400;
    text-decoration: none;
}
.btn{
    margin: 30px 20px;
    width:50%;
    background-color: #75538d;
    border-radius: 10px;
    font-weight: 500;
    color:white;
}
.btn:hover{
    box-shadow: 0 30px 70px rgba(0,0,0,.2);
}


input:focus{
    outline: none;
}